


body{
    background-image: url('../Images/car-lights-bumper-fender.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.form-group{
    margin-bottom: 10px;
    position: relative;
}
.form-group.error input{
    outline: 0;
    }


